* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --background-color: #c6d4d5;
  --secondary-color: #ffffff;
  --primary-color: #d5dfdf;
  -o-text--color: #462465;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
body {
  background-color: #c6d4d5;
  font-family: "Inter";
}

.app-body {
  max-width: 80%;
  margin: 0 auto;
  margin-top: 0.6em;
}

.options {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.app-container {
  display: flex;
  padding: 1.1em;
  padding-bottom: 1em;
  background-color: #ffffff;
  border-radius: 15px;
  height: 600px;
}
.plan-time-manege {
  flex: 1;
  background-color: #d5dfdf;
  border-radius: 15px;
  padding: 20px 25px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  /* hight inja ro tanzim kon */
  /* bad spase bedae */
}

.img-frame {
  background-color: #d5dfdf;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin-right: 10px;
}

.img-frame img {
  height: auto;
  width: 60%;
}
.options a {
  color: #462465;
  text-decoration: none;
}
.top-card {
  display: flex;
  align-items: center;
}
.top-card span {
  flex: 1;
  text-align: center;
}
.top-card .day-date-card {
  flex: 2;
}
.day-date-card {
  display: flex;
  align-items: center;
  font-size: 1.5em;
  background-color: #f9fbfe;
  border: 5px solid #ffffff;
  border-radius: 15px;
  color: #462465;
}
.day-date-card div {
  text-align: center;
  flex: 2;
}
.day-date-card img {
  width: 20%;
}

.plane-container {
  border-radius: 5px;
  display: flex;
  background-color: #d5dfdf;
  border: 5px solid #ffffff;
  border-radius: 5px;
  padding: 30px 10px;
}

.day-date-card {
  flex: 1;
}
.plane-container {
  flex: 2;
  margin-top: 20px;
}
.add-plane-container {
  display: flex;
}

.active {
  background-color: #d5dfdf;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  border-radius: 20px 0 0 20px;
}
